*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p{
	font-family: 'Poppins', sans-serif;
	width: 100%;
	height: 100vh;
    font-size: 128px;
	display: flex;
	align-items: center;
	justify-content: center;
}